<div class={{containerClass}}>
  <div class="navbar-header">
    {{#if collapsable}}
      <button type="button" class="md-collapse-btn {{if isCollapsed 'collapsed'}}" {{action "toggleCollapse"}}>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    {{/if}}
    {{#if title}}
      {{#if titlePath}}
        {{link-to title titlePath}}
      {{else}}
        <span class="navbar-title">{{title}}</span>
      {{/if}}
    {{/if}}
  </div>

  {{#if collapsable}}
    {{#md-collapse class="navbar-collapse" show=isCollapsed}}
      {{yield}}
    {{/md-collapse}}
  {{else}}
    {{yield}}
  {{/if}}
</div>
