<section class="doc-section" id="examples">
  <h2 class="doc-section-title">
    Examples
  </h2>

  <div class="doc-example">
    <div class="md-card">
      <table class="md-table">
        {{#md-table-header onSort=(action "setSorting")}}
          <th class="table-action">
            {{md-checkbox checked=allSelected onCheck=(action "selectAll")}}
          </th>
          {{md-table-th text="Dessert (100g serving)" sortBy="name"}}
          {{md-table-th text="Calories" sortBy="calories" class="text-right"}}
          {{md-table-th text="Fat (g)" sortBy="fat" class="text-right"}}
          {{md-table-th text="Carbs (g)" sortBy="carbs" class="text-right"}}
          {{md-table-th text="Protein (g)" sortBy="protein" class="text-right"}}
          {{md-table-th text="Sodium (mg)" sortBy="sodium" class="text-right"}}
          {{md-table-th text="Calcium (%)" sortBy="calcium" class="text-right"}}
          {{md-table-th text="Iron (%)" sortBy="iron" class="text-right"}}
        {{/md-table-header}}
        <tbody>
          {{#each sorted as |t|}}
            {{#md-table-row selected=t.isSelected}}
              <td>{{t.name}}</td>
              <td class="text-right">{{t.calories}}</td>
              <td class="text-right">{{t.fat}}</td>
              <td class="text-right">{{t.carbs}}</td>
              <td class="text-right">{{t.protein}}</td>
              <td class="text-right">{{t.sodium}}</td>
              <td class="text-right">{{t.calcium}}</td>
              <td class="text-right">{{t.iron}}</td>
            {{/md-table-row}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>
