{{#md-sidenav}}
  <div class="sidenav-header">

  </div>

  <ul class="sidemenu-nav">
    <li>
      <a>Components</a>
      <div class="menu-collapse">
        <ul class="sidemenu-nested-nav">
          <li>{{link-to "Buttons" "comps.buttons"}}</li>
          <li>{{link-to "Checkboxes" "comps.checkboxes"}}</li>
          <li>{{link-to "Collapse" "comps.collapse"}}</li>
          <li>{{link-to "Dialogs" "comps.dialogs"}}</li>
          <li>{{link-to "Modals" "comps.modals"}}</li>
          <li>{{link-to "Navbar" "comps.navbar"}}</li>
          <li>{{link-to "Radios" "comps.radios"}}</li>
          <li>{{link-to "Sidenav" "comps.sidenav"}}</li>
          <li>{{link-to "Tables" "comps.tables"}}</li>
        </ul>
      </div>
    </li>
    <li>
      <a>Services</a>
      <div class="menu-collapse">
        <ul class="sidemenu-nested-nav">

        </ul>
      </div>
    </li>
  </ul>
{{/md-sidenav}}
